<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.blog.mapper.BlogMapper">
    <insert id="create">
        INSERT INTO blog (author, title, content_path, category, brief)
        VALUES (#{author}, #{title}, #{contentPath}, #{category}, #{brief})
    </insert>

    <delete id="delete">
        DELETE
        FROM blog
        WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE blog
        SET title       = #{title},
            category    = #{category},
            brief       = #{brief},
            content_path= #{contentPath}
        WHERE id = #{id}
    </update>

    <select id="read" resultType="io.blog.model.response.BlogResponseDTO">
        SELECT id,
               author,
               title,
               content_path,
               time,
               category,
               status,
               brief
        FROM blog
        WHERE id = #{id}
    </select>

    <select id="readAll" resultType="io.blog.model.response.BlogResponseDTO">
        SELECT id,
               author,
               title,
               content_path,
               time,
               category,
               status,
               brief
        FROM blog
    </select>
</mapper>